Repository raghavyuva/nixopus, pull requests merged in 2025-05, with the labels that each got.

#66 Feature Based Access
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/feature-flags/controller/init.go
  api/internal/features/feature-flags/service/init.go
  api/internal/features/feature-flags/storage/init.go
  api/internal/middleware/feature_flag.go
  api/internal/routes.go
  api/internal/types/feature_flags.go
  api/migrations/028_create_feature_flags_down.sql
  api/migrations/028_create_feature_flags_up.sql
  api/migrations/029_add_feature_flags_permissions_up.sql
  api/migrations/029_feature_flags_permissions_down.sql
  view/app/dashboard/page.tsx
  view/app/file-manager/page.tsx
  view/app/layout.tsx
  view/app/self-host/page.tsx
  view/app/settings/domains/page.tsx
  view/app/settings/general/components/FeatureFlagsSettings.tsx
  view/app/settings/general/page.tsx
  view/app/settings/notifications/page.tsx
  view/app/terminal/terminal.tsx
  view/components/features/disabled-feature.tsx
  view/hooks/features_provider.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/redux/api-conf.ts
  view/redux/features/feature-flags/featureFlagsSlice.ts
  view/redux/services/feature-flags/featureFlagsApi.ts
  view/redux/store.ts
  view/types/feature-flags.ts
Labels: nixopus-view, nixopus-api

#71 Prevent Update Check In Dev Environment
  api/api/versions.json
  api/internal/features/update/controller/update_controller.go
Labels: nixopus-api

#70 Caching Middleware Context values to be used throughout the route cycle
  .env.sample
  api/api/versions.json
  api/internal/cache/cache.go
  api/internal/features/feature-flags/controller/init.go
  api/internal/features/organization/controller/init.go
  api/internal/features/organization/service/add_user_to_organization.go
  api/internal/features/organization/service/init.go
  api/internal/features/organization/service/remove_user_from_org.go
  api/internal/features/organization/service/update_user_role.go
  api/internal/features/user/controller/init.go
  api/internal/features/user/controller/update_username.go
  api/internal/middleware/auth.go
  api/internal/middleware/feature_flag.go
  api/internal/routes.go
  api/internal/testutils/setup.go
  docker-compose-staging.yml
  docker-compose.yml
  installer/environment.py
  installer/service_manager.py
Labels: nixopus-api, nixopus-docker, nixopus-config

#68 Unit Tests
  .github/workflows/test.yaml
  .github/workflows/test.yaml.disabled
  api/Makefile
  api/internal/features/audit/tests/audit_storage_test.go
  api/internal/features/audit/tests/audit_test.go
  api/internal/features/auth/tests/auth_storage_test.go
  api/internal/features/auth/tests/two_factor_test.go
  api/internal/features/domain/tests/create_domain_test.go
  api/internal/features/domain/tests/delete_domain_test.go
  api/internal/features/domain/tests/domain_storage_test.go
  api/internal/features/domain/tests/update_domain_test.go
  api/internal/features/domain/validation/validator.go
Labels: nixopus-ci, nixopus-api, nixopus-test

#72 Container Management
  api/doc/openapi.json
  api/internal/features/container/controller/get_container.go
  api/internal/features/container/controller/get_container_logs.go
  api/internal/features/container/controller/init.go
  api/internal/features/container/controller/list_containers.go
  api/internal/features/container/controller/list_images.go
  api/internal/features/container/controller/prune_build_cache.go
  api/internal/features/container/controller/prune_images.go
  api/internal/features/container/controller/remove_container.go
  api/internal/features/container/controller/restart_container.go
  api/internal/features/container/controller/start_container.go
  api/internal/features/container/controller/stop_container.go
  api/internal/features/container/types/container_types.go
  api/internal/features/container/types/image.go
  api/internal/features/deploy/docker/init.go
  api/internal/features/feature-flags/service/init.go
  api/internal/routes.go
  api/internal/types/feature_flags.go
  api/migrations/030_add_container_permissions_down.sql
  api/migrations/030_add_container_permissions_up.sql
  view/app/containers/[id]/components/ContainerDetailsLoading.tsx
  view/app/containers/[id]/components/DetailsTab.tsx
  view/app/containers/[id]/components/LogsTab.tsx
  view/app/containers/[id]/components/OverviewTab.tsx
  view/app/containers/[id]/components/images.tsx
  view/app/containers/[id]/page.tsx
  view/app/containers/hooks/use-container-list.ts
  view/app/containers/page.tsx
  view/app/containers/skeleton.tsx
  view/app/dashboard/page.tsx
  view/components/layout/app-sidebar.tsx
  view/components/ui/carousel.tsx
  view/components/ui/scroll-area.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/lib/utils.ts
  view/package.json
  view/redux/api-conf.ts
  view/redux/services/container/containerApi.ts
  view/redux/services/container/imagesApi.ts
  view/redux/store.ts
  view/types/feature-flags.ts
  view/yarn.lock
Labels: enhancement, nixopus-view, nixopus-api

#73 Fix Port Confliction in Self Hosted Appications
  api/internal/features/deploy/service/run_image.go
  api/internal/features/deploy/types/init.go
Labels: nixopus-api

#89 feat(devcontainer): restructure Dockerfile and update workspace config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  api/go.mod
Labels: enhancement, nixopus-api

#88 Feat : Avatar Upload
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/user/controller/avatar.go
  api/internal/features/user/service/avatar.go
  api/internal/features/user/storage/init.go
  api/internal/features/user/tests/mock_storage.go
  api/internal/features/user/types/user.go
  api/internal/features/user/validation/validator.go
  api/internal/routes.go
  api/migrations/028_alter_avatar_column_down.sql
  api/migrations/028_alter_avatar_column_up.sql
  view/app/settings/hooks/use-general-settings.ts
  view/components/ui/upload_avatar.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/redux/api-conf.ts
  view/redux/services/users/userApi.ts
  view/redux/types/user.ts
Labels: nixopus-view, nixopus-api, nixopus-test

#87 v0.1.0-alpha.5
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  api/api/versions.json
  api/doc/openapi.json
  api/go.mod
  api/go.sum
  api/internal/features/auth/controller/login.go
  api/internal/features/auth/controller/register.go
  api/internal/features/user/controller/avatar.go
  api/internal/features/user/service/avatar.go
  api/internal/features/user/storage/init.go
  api/internal/features/user/tests/mock_storage.go
  api/internal/features/user/types/user.go
  api/internal/features/user/validation/validator.go
  api/internal/routes.go
  api/internal/tests/auth/create_user_test.go
  api/internal/tests/auth/login_test.go
  api/internal/tests/auth/logout_test.go
  api/internal/tests/auth/refresh_token_test.go
  api/internal/tests/auth/register_test.go
  api/internal/tests/auth/reset_password_test.go
  api/internal/tests/auth/two_factor_test.go
  api/internal/tests/auth/verify_email_test.go
  api/internal/tests/health/health_test.go
  api/internal/tests/helper.go
  api/internal/tests/user/get_user_details_test.go
  api/internal/testutils/setup.go
  api/migrations/028_alter_avatar_column_down.sql
  api/migrations/028_alter_avatar_column_up.sql
  docker-compose-staging.yml
  installer/environment.py
  installer/service_manager.py
  view/app/settings/hooks/use-general-settings.ts
  view/components/ui/upload_avatar.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/redux/api-conf.ts
  view/redux/services/users/userApi.ts
  view/redux/types/user.ts
Labels: nixopus-view, nixopus-api, nixopus-docker, nixopus-test

#92 Feat : Seamless Docker Setup During Installation
  api/api/versions.json
  api/go.mod
  api/go.sum
  installer/__init__.py
  installer/docker_setup.py
  installer/environment.py
  installer/service_manager.py
  scripts/install.sh
Labels: nixopus-api

#94 fix(container): listing container fails because of index out of range
  api/api/versions.json
  api/internal/features/container/controller/list_containers.go
Labels: nixopus-api

#102 test(makefile): update test target to run only unit tests from features directory
  api/Makefile
Labels: nixopus-api

#101 Fixes Caddy Server Route Duplication
  api/internal/features/deploy/proxy/caddy.go
Labels: bug, nixopus-api

#123 ci(docs): deploy docs to github pages
  .github/workflows/docs.yml
  docs/CNAME
Labels: nixopus-documentation, nixopus-ci

#130 refactor: Installation script and add tests
  installer/input_parser.py
  installer/install.py
  installer/test_input_parser.py
  installer/validation.py
Labels: enhancement
