Repository raghavyuva/nixopus, pull requests merged in 2025-06, with the labels that each got.

#131 feat: Ip address and port support, no strict domain required
  .github/workflows/qemu.yml
  installer/__init__.py
  installer/docker_setup.py
  installer/environment.py
  installer/input_parser.py
  installer/install.py
  installer/service_manager.py
  installer/test_environment.py
  installer/test_input_parser.py
  scripts/install.sh
Labels: enhancement, nixopus-ci

#133 Feat: Port Decoupling in Installation
  .github/workflows/qemu.yml
  docker-compose-staging.yml
  helpers/config.json
  installer/base_config.py
  installer/environment.py
  installer/service_config.py
  installer/service_manager.py
  installer/ssh_setup.py
  scripts/install.sh
Labels: enhancement, nixopus-ci, nixopus-docker

#134 Feat: blogging setup in documentation
  docs/.vitepress/config.mts
  docs/.vitepress/posts.data.mts
  docs/blog/index.md
  docs/blog/posts/2025-06-06-intro.md
Labels: nixopus-documentation

#136 Feat : Allow registration of the admin user through browser if not setup through terminal
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/auth/controller/is_admin_registered.go
  api/internal/routes.go
  api/internal/tests/auth/is_admin_registered_test.go
  api/internal/tests/helper.go
  installer/install.py
  view/app/layout.tsx
  view/app/register/hooks/use-register.ts
  view/app/register/page.tsx
  view/components/features/login-form.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/redux/api-conf.ts
  view/redux/services/users/authApi.ts
Labels: nixopus-view, nixopus-api, nixopus-test

#140 chore: Configure Sponsors-to-README Action
  .github/workflows/add-sponsors.yml
  README.md
  docs/.vitepress/config.mts
Labels: nixopus-documentation, nixopus-ci

#143 Fix : Broken Nixopus Installer
  .github/workflows/qemu.yml
  helpers/config.json
  installer/base_config.py
  installer/docker_setup.py
  installer/service_config.py
  installer/service_manager.py
  scripts/install.sh
Labels: nixopus-ci

#144 fix: update logic to fix the sponsor update github action
  .github/workflows/add-sponsors.yml
  Makefile
  README.md
  docs/.vitepress/config.mts
Labels: nixopus-documentation, nixopus-ci

#145 Update add-sponsors.yml
  .github/workflows/add-sponsors.yml
  README.md
Labels: nixopus-documentation, nixopus-ci

#129 V0.1.0-alpha.7
  .github/.coderabbit.yaml
  .github/workflows/add-sponsors.yml
  .github/workflows/qemu.yml
  .gitignore
  LICENSE.md
  Makefile
  README.md
  api/.env.sample
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/auth/controller/is_admin_registered.go
  api/internal/routes.go
  api/internal/tests/auth/is_admin_registered_test.go
  api/internal/tests/helper.go
  docker-compose-staging.yml
  docs/.vitepress/config.mts
  docs/.vitepress/posts.data.mts
  docs/architecture/index.md
  docs/blog/index.md
  docs/blog/posts/2025-06-06-intro.md
  docs/contributing/README.md
  docs/contributing/backend.md
  docs/contributing/docker.md
  docs/contributing/documentation.md
  docs/contributing/frontend.md
  docs/contributing/index.md
  docs/contributing/self-hosting.md
  docs/credits/index.md
  docs/install/index.md
  docs/package.json
  docs/privacy-policy/index.md
  docs/self-host/index.md
  docs/terminal/index.md
  docs/yarn.lock
  helpers/config.json
  installer/__init__.py
  installer/base_config.py
  installer/docker_setup.py
  installer/environment.py
  installer/input_parser.py
  installer/install.py
  installer/service_config.py
  installer/service_manager.py
  installer/ssh_setup.py
  installer/test_environment.py
  installer/test_input_parser.py
  installer/validation.py
  scripts/install.sh
  view/.env.sample
  view/.gitignore
  view/app/layout.tsx
  view/app/register/hooks/use-register.ts
  view/app/register/page.tsx
  view/components/features/login-form.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/redux/api-conf.ts
  view/redux/services/users/authApi.ts
Labels: nixopus-documentation, nixopus-ci, nixopus-view, nixopus-api, nixopus-docker, nixopus-test, nixopus-config

#146 feat: update documentation.md and frontend.md to fix deadlink issues
  .github/workflows/docs.yml
  docs/contributing/documentation.md
  docs/contributing/frontend.md
Labels: nixopus-documentation, nixopus-ci

#174 hot-fix: theming issue due to base path and footer preview in the docs
  README.md
  docs/.vitepress/config.mts
Labels: nixopus-documentation

#179 fix: update installation script URL from 'main' to 'master' branch
  README.md
Labels: nixopus-documentation

#180 docs: add docker context and qemu related articles
  docs/blog/posts/2025-06-10-docker-context.md
  docs/blog/posts/2025-06-14-qemu-action.md
Labels: nixopus-documentation

#188 chore: Enable staging combination checks in qemu action
  .github/workflows/qemu.yml
  docker-compose-staging.yml
  installer/install.py
Labels: nixopus-ci, nixopus-docker

#189 fix: remove Makefile as it is no longer needed
  Makefile
Labels: bug

#194 feat: setup script for macos
  .github/workflows/dev-env-setup.yml
  api/.env.sample
  api/api/versions.json
  api/internal/middleware/cors.go
  docs/code-of-conduct/index.md
  scripts/setup.sh
Labels: nixopus-documentation, nixopus-ci, nixopus-api, nixopus-config

#204 feat: fixture loader helps us to create dummy data to the table for dev/testing purposes
  README.md
  api/Makefile
  api/api/versions.json
  api/cmd/fixtures/main.go
  api/fixtures/development/complete.yml
  api/fixtures/development/feature_flags.yml
  api/fixtures/development/organization_users.yml
  api/fixtures/development/organizations.yml
  api/fixtures/development/permissions.yml
  api/fixtures/development/role_permissions.yml
  api/fixtures/development/roles.yml
  api/fixtures/development/users.yml
  api/go.mod
  api/go.sum
  api/internal/fixtures/loader/fixture_loader.go
  api/internal/types/application.go
  docs/contributing/README.md
  docs/contributing/backend.md
  docs/contributing/fixtures.md
  docs/contributing/index.md
  view/app/settings/general/components/AccountSection.tsx
Labels: nixopus-documentation, nixopus-api

#203 fix: Prevents non admin users to have the default organization
  api/internal/features/auth/service/register.go
Labels: nixopus-api

#210 build: add ssh start logic in setup.sh
  .github/workflows/dev-env-setup.yml
  scripts/setup.sh
Labels: nixopus-ci

#220 fix(docs): fix incorrect method display, correct extraction logic, and update VitePress sidebar link
  .gitignore
  api/api/versions.json
  docs/.vitepress/config.mts
  docs/.vitepress/theme/style.css
Labels: nixopus-api

#223 Revert "fix(docs): fix incorrect method display, correct extraction logic, and update VitePress sidebar link"
  .gitignore
  api/api/versions.json
  docs/.vitepress/config.mts
  docs/.vitepress/theme/style.css
Labels: nixopus-api

#229 Feat: Team Management With Permissions and Roles
  api/api/versions.json
  api/doc/openapi.json
  api/internal/routes.go
  view/app/settings/general/components/AccountSection.tsx
  view/app/settings/general/components/AvatarSection.tsx
  view/app/settings/general/components/FeatureFlagsSettings.tsx
  view/app/settings/general/components/SecuritySection.tsx
  view/app/settings/general/components/TwoFactorSetup.tsx
  view/app/settings/general/page.tsx
  view/app/settings/notifications/page.tsx
  view/components/rbac/PermissionGuard.tsx
Labels: nixopus-view, nixopus-api
