Repository raghavyuva/nixopus, pull requests merged in 2025-09, with the labels that each got.

#380 fix: replacing the input password field with reusable component
  view/app/register/page.tsx
  view/app/reset-password/components/ResetPasswordForm.tsx
  view/app/settings/notifications/components/channelTab.tsx
Labels: nixopus-view, ui

#384 feat(notification): handle smtpConfigs not found
  api/internal/features/notification/controller/get_smtp.go
  api/internal/features/notification/service/get_smtp.go
  view/redux/services/settings/notificationApi.ts
Labels: nixopus-view, nixopus-api

#343 feat: queue setup
  api/api/versions.json
  api/doc/openapi.json
  api/go.mod
  api/go.sum
  api/internal/cache/cache.go
  api/internal/features/deploy/controller/delete_application.go
  api/internal/features/deploy/controller/handle_deploy.go
  api/internal/features/deploy/controller/handle_github_webhook.go
  api/internal/features/deploy/controller/handle_restart.go
  api/internal/features/deploy/controller/handle_rollback.go
  api/internal/features/deploy/controller/init.go
  api/internal/features/deploy/controller/redeploy_application.go
  api/internal/features/deploy/controller/update_application.go
  api/internal/features/deploy/service/deploy_service.go
  api/internal/features/deploy/tasks/build.go
  api/internal/features/deploy/tasks/clone.go
  api/internal/features/deploy/tasks/commands.go
  api/internal/features/deploy/tasks/context.go
  api/internal/features/deploy/tasks/create.go
  api/internal/features/deploy/tasks/delete.go
  api/internal/features/deploy/tasks/init.go
  api/internal/features/deploy/tasks/redeploy.go
  api/internal/features/deploy/tasks/restart.go
  api/internal/features/deploy/tasks/rollback.go
  api/internal/features/deploy/tasks/run.go
  api/internal/features/deploy/tasks/types.go
  api/internal/features/deploy/tasks/update.go
  api/internal/features/deploy/tasks/util.go
  api/internal/features/deploy/tasks/webhook.go
  api/internal/features/deploy/types/init.go
  api/internal/queue/init.go
  api/internal/redisclient/redisclient.go
  api/internal/routes.go
  api/internal/testutils/setup.go
  api/internal/types/task.go
  api/main.go
  view/app/self-host/components/application-details/deploymentsList.tsx
  view/lib/i18n/locales/en.json
Labels: nixopus-view, nixopus-api

#385 feat: migrate async tasks to queue setup
  api/doc/openapi.json
  api/go.mod
  api/go.sum
  api/internal/cache/cache.go
  api/internal/features/deploy/controller/delete_application.go
  api/internal/features/deploy/controller/handle_deploy.go
  api/internal/features/deploy/controller/handle_github_webhook.go
  api/internal/features/deploy/controller/handle_restart.go
  api/internal/features/deploy/controller/handle_rollback.go
  api/internal/features/deploy/controller/init.go
  api/internal/features/deploy/controller/redeploy_application.go
  api/internal/features/deploy/controller/update_application.go
  api/internal/features/deploy/service/deploy_service.go
  api/internal/features/deploy/tasks/build.go
  api/internal/features/deploy/tasks/clone.go
  api/internal/features/deploy/tasks/commands.go
  api/internal/features/deploy/tasks/context.go
  api/internal/features/deploy/tasks/create.go
  api/internal/features/deploy/tasks/delete.go
  api/internal/features/deploy/tasks/init.go
  api/internal/features/deploy/tasks/redeploy.go
  api/internal/features/deploy/tasks/restart.go
  api/internal/features/deploy/tasks/rollback.go
  api/internal/features/deploy/tasks/run.go
  api/internal/features/deploy/tasks/types.go
  api/internal/features/deploy/tasks/update.go
  api/internal/features/deploy/tasks/util.go
  api/internal/features/deploy/tasks/webhook.go
  api/internal/features/deploy/types/init.go
  api/internal/queue/init.go
  api/internal/redisclient/redisclient.go
  api/internal/routes.go
  api/internal/testutils/setup.go
  api/internal/types/task.go
  api/main.go
  view/app/self-host/components/application-details/deploymentsList.tsx
  view/lib/i18n/locales/en.json
Labels: nixopus-view, nixopus-api

#388 docs: Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: nixopus-documentation

#419 chore: change redis container name
  docker-compose.yml
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2025

#423 release: v0.1.0-alpha.30
  README.md
  api/api/versions.json
  api/go.mod
  api/go.sum
  api/internal/features/deploy/docker/cluster.go
  api/internal/features/deploy/docker/init.go
  api/internal/features/deploy/tasks/create.go
  api/internal/features/deploy/tasks/delete.go
  api/internal/features/deploy/tasks/redeploy.go
  api/internal/features/deploy/tasks/restart.go
  api/internal/features/deploy/tasks/rollback.go
  api/internal/features/deploy/tasks/run.go
  api/internal/features/deploy/tasks/update.go
  docker-compose-staging.yml
  docker-compose.yml
  helpers/config.dev.yaml
  view/app/settings/domains/components/domain-actions.tsx
  view/components/ui/password-input-field.tsx
Labels: nixopus-documentation, nixopus-view, nixopus-api, nixopus-docker
