Repository raghavyuva/nixopus, pull requests merged in 2025-10, with the labels that each got.

#453 feat: orgs integration with supertokens
  api/api/versions.json
  api/doc/openapi.json
  api/go.mod
  api/go.sum
  api/internal/features/auth/service/register.go
  api/internal/features/organization/controller/add_user_organization.go
  api/internal/features/organization/controller/create_organization.go
  api/internal/features/organization/controller/get_organization_users.go
  api/internal/features/organization/controller/get_resources.go
  api/internal/features/organization/controller/get_roles.go
  api/internal/features/organization/controller/init.go
  api/internal/features/organization/controller/invite.go
  api/internal/features/organization/controller/remove_organization_user.go
  api/internal/features/organization/controller/update_user_role.go
  api/internal/features/organization/service-deprecated/add_user_to_organization.go
  api/internal/features/organization/service-deprecated/get_roles.go
  api/internal/features/organization/service-deprecated/init.go
  api/internal/features/organization/service-deprecated/remove_user_from_org.go
  api/internal/features/organization/service-deprecated/update_user_role.go
  api/internal/features/organization/service/add_user_to_organization.go
  api/internal/features/organization/service/delete_organization.go
  api/internal/features/organization/service/get_organization_users.go
  api/internal/features/organization/service/remove_user_from_organization.go
  api/internal/features/organization/service/update_user_role.go
  api/internal/features/organization/storage/store.go
  api/internal/features/organization/types/errors.go
  api/internal/features/organization/types/organization.go
  api/internal/features/organization/validation/validator.go
  api/internal/features/supertokens/auth.go
  api/internal/features/supertokens/passwordless_overrides.go
  api/internal/middleware/rbac.go
  api/internal/routes.go
  api/internal/tests/helper.go
  api/internal/types/organization.go
  view/app/auth/organization-invite/page.tsx
  view/app/config/frontend.tsx
  view/app/layout.tsx
  view/app/settings/hooks/use-team-settings.ts
  view/app/settings/teams/components/AddMember.tsx
  view/app/settings/teams/components/TeamMembers.tsx
  view/app/settings/teams/components/TeamStats.tsx
  view/app/settings/teams/page.tsx
  view/components/layout/app-sidebar.tsx
  view/components/layout/dashboard-layout.tsx
  view/components/ui/team-switcher.tsx
  view/hooks/use-team-switcher.ts
  view/lib/rbac.ts
  view/redux/api-conf.ts
  view/redux/services/users/userApi.ts
  view/redux/types/orgs.ts
Labels: nixopus-view, nixopus-api, nixopus-test

#450 bug: fix wrong date coming on the frontend
  view/app/containers/components/table.tsx
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2025

#447 chore: PR template to standardize contributions
  .github/PULL_REQUEST_TEMPLATE.md
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, hacktoberfest2025

#451 enhancement: client side validation for login credentials
  view/components/features/login-form.tsx
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2025

#455 feat: extension executor
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/extension/controller/init.go
  api/internal/features/extension/controller/run_extension.go
  api/internal/features/extension/parser/parser.go
  api/internal/features/extension/service/executor.go
  api/internal/features/extension/service/file_executor.go
  api/internal/features/extension/service/helpers.go
  api/internal/features/extension/service/run_extension.go
  api/internal/features/extension/service/service.go
  api/internal/features/extension/service/user_executor.go
  api/internal/features/extension/storage/storage.go
  api/internal/routes.go
  api/internal/types/extension.go
  api/templates/copy-file.yaml
  api/templates/create-testuser.yaml
  docs/extensions/index.md
  view/app/extensions/components/extension-card.tsx
  view/app/extensions/components/extension-input.tsx
  view/app/extensions/components/extensions-grid.tsx
  view/app/extensions/hooks/use-extension-input.ts
  view/app/extensions/hooks/use-extensions.ts
  view/app/extensions/page.tsx
  view/components/layout/app-sidebar.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/fr.json
  view/redux/api-conf.ts
  view/redux/services/extensions/extensionsApi.ts
  view/redux/types/extension.ts
Labels: nixopus-documentation, nixopus-view, nixopus-api

#459 fix(terminal): add custom key event handler for Ctrl + J
  api/api/versions.json
  view/app/terminal/utils/useTerminal.ts
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2025

#464 feat: extension forking
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/extension/controller/delete_extension.go
  api/internal/features/extension/controller/fork_extension.go
  api/internal/features/extension/controller/get_extensions.go
  api/internal/features/extension/parser/parser.go
  api/internal/features/extension/service/service.go
  api/internal/features/extension/storage/storage.go
  api/internal/routes.go
  api/internal/types/extension.go
  api/migrations/extensions/037_add_extension_type_down.sql
  api/migrations/extensions/037_add_extension_type_up.sql
  api/migrations/extensions/038_add_parent_extension_id_down.sql
  api/migrations/extensions/038_add_parent_extension_id_up.sql
  api/templates/fail2ban.yaml
  view/app/extensions/components/extension-card.tsx
  view/app/extensions/components/extension-fork-dialog.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/package.json
  view/redux/api-conf.ts
  view/redux/services/extensions/extensionsApi.ts
  view/redux/types/extension.ts
Labels: nixopus-view, nixopus-api

#470 feat: extension details
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/extension/controller/get_extensions.go
  api/internal/features/extension/service/service.go
  api/internal/features/extension/storage/storage.go
  api/internal/routes.go
  view/app/extensions/[id]/components/LogsTab.tsx
  view/app/extensions/[id]/components/OverviewTab.tsx
  view/app/extensions/[id]/loading.tsx
  view/app/extensions/[id]/page.tsx
  view/app/extensions/components/extension-fork-dialog.tsx
  view/app/extensions/hooks/use-extensions.ts
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/redux/api-conf.ts
  view/redux/services/extensions/extensionsApi.ts
Labels: nixopus-view, nixopus-api

#456 release: v0.1.0-alpha.31
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-rebase-develop.yml
  .github/workflows/release.yml
  api/api/versions.json
  docs/preferences/index.md
  view/app/containers/components/table.tsx
  view/app/terminal/utils/useTerminal.ts
  view/components/features/login-form.tsx
  view/lib/i18n/config.ts
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/lib/i18n/locales/ml.json
Labels: nixopus-documentation, nixopus-ci, nixopus-view, nixopus-api
