Repository raghavyuva/nixopus, pull requests merged in 2025-07, with the labels that each got.

#263 feat: Multiple Terminal Sessions
  api/internal/features/terminal/init.go
  api/internal/realtime/init.go
  api/internal/realtime/terminal_handler.go
  view/app/terminal/terminal.tsx
  view/app/terminal/utils/useTerminal.ts
  view/package.json
  view/yarn.lock
Labels: nixopus-view, nixopus-api

#271 docs: details on migrations
  api/api/versions.json
  assets/db-schema.png
  docs/.vitepress/config.mts
  docs/migrations/index.md
  docs/migrations/quick-reference.md
  docs/migrations/templates.md
Labels: nixopus-documentation, nixopus-api

#279 feat : Install Command to Clone the Nixopus Git Repository
  cli/app/commands/install/clone.py
  cli/app/commands/install/command.py
  cli/app/commands/install/messages.py
  cli/app/commands/install/run.py
  cli/app/commands/install/tests/test_clone.py
  cli/app/commands/preflight/deps.py
  cli/app/commands/preflight/port.py
  cli/app/commands/preflight/tests/test_deps.py
  cli/app/main.py
  cli/app/utils/lib.py
  cli/app/utils/message.py
  cli/app/utils/output_formatter.py
Labels: nixopus-test

#270 v0.1.0-alpha.11
  .gitignore
  api/api/versions.json
  api/internal/features/auth/service/register.go
  api/internal/features/auth/storage/user.go
  api/internal/features/auth/types/auth.go
  api/internal/features/domain/controller/create_domain.go
  api/internal/features/domain/controller/delete_domain.go
  api/internal/features/domain/controller/error_helpers.go
  api/internal/features/domain/controller/get_domains.go
  api/internal/features/domain/controller/update_domain.go
  api/internal/features/domain/storage/init.go
  api/internal/features/terminal/init.go
  api/internal/realtime/init.go
  api/internal/realtime/terminal_handler.go
  api/internal/routes.go
  api/internal/tests/container/get_container_logs_test.go
  api/internal/tests/container/get_container_test.go
  api/internal/tests/container/list_containers_test.go
  api/internal/tests/deploy/create_application_test.go
  api/internal/tests/deploy/delete_application_test.go
  api/internal/tests/deploy/get_application_deployments_test.go
  api/internal/tests/deploy/get_application_logs_test.go
  api/internal/tests/deploy/get_application_test.go
  api/internal/tests/deploy/get_applications_test.go
  api/internal/tests/deploy/get_deployment_by_id_test.go
  api/internal/tests/deploy/get_deployment_logs_test.go
  api/internal/tests/deploy/redeploy_application_test.go
  api/internal/tests/deploy/restart_application_test.go
  api/internal/tests/deploy/rollback_application_test.go
  api/internal/tests/deploy/update_application_test.go
  api/internal/tests/domain/domain_flow_test.go
  api/internal/tests/feature-flags/feature_flags_test.go
  api/internal/tests/helper.go
  assets/db-schema.png
  docker-compose-staging.yml
  docker-compose-test.yml
  docs/.vitepress/config.mts
  docs/migrations/index.md
  docs/migrations/quick-reference.md
  docs/migrations/templates.md
  view/app/self-host/hooks/use_create_deployment.ts
  view/app/self-host/hooks/use_update_deployment.ts
  view/app/settings/domains/components/delete-domain.tsx
  view/app/settings/domains/page.tsx
  view/app/terminal/terminal.tsx
  view/app/terminal/utils/useTerminal.ts
  view/components/domains/random-subdomain-generator.tsx
  view/package.json
  view/redux/services/settings/domainsApi.ts
  view/redux/types/domain.ts
  view/yarn.lock
Labels: nixopus-documentation, nixopus-view, nixopus-api, nixopus-docker, nixopus-test

#286 feat: proxy management commands for cli
  cli/app/commands/proxy/__init__.py
  cli/app/commands/proxy/base.py
  cli/app/commands/proxy/command.py
  cli/app/commands/proxy/load.py
  cli/app/commands/proxy/messages.py
  cli/app/commands/proxy/status.py
  cli/app/commands/proxy/stop.py
  cli/app/commands/proxy/tests/test_load.py
  cli/app/commands/proxy/tests/test_status.py
  cli/app/commands/proxy/tests/test_stop.py
  cli/app/main.py
Labels: nixopus-test

#285 fix : failing tests on install commands
  cli/app/commands/conf/__init__.py
  cli/app/commands/conf/base.py
  cli/app/commands/conf/command.py
  cli/app/commands/conf/delete.py
  cli/app/commands/conf/list.py
  cli/app/commands/conf/messages.py
  cli/app/commands/conf/set.py
  cli/app/commands/conf/tests/__init__.py
  cli/app/commands/conf/tests/test_base.py
  cli/app/commands/conf/tests/test_delete.py
  cli/app/commands/conf/tests/test_list.py
  cli/app/commands/conf/tests/test_set.py
  cli/app/commands/install/tests/test_ssh.py
  cli/app/commands/proxy/__init__.py
  cli/app/commands/proxy/base.py
  cli/app/commands/proxy/command.py
  cli/app/commands/proxy/load.py
  cli/app/commands/proxy/messages.py
  cli/app/commands/proxy/status.py
  cli/app/commands/proxy/stop.py
  cli/app/commands/proxy/tests/test_load.py
  cli/app/commands/proxy/tests/test_status.py
  cli/app/commands/proxy/tests/test_stop.py
  cli/app/main.py
Labels: nixopus-test

#289 Fix : cli test failures
  cli/app/commands/clone/__init__.py
  cli/app/commands/clone/tests/__init__.py
  cli/app/commands/clone/tests/test_clone.py
  cli/app/commands/install/tests/test_ssh.py
  cli/app/commands/service/tests/test_base.py
  cli/app/commands/service/tests/test_down.py
  cli/app/commands/service/tests/test_ps.py
  cli/app/commands/service/tests/test_restart.py
  cli/app/commands/service/tests/test_up.py
Labels: nixopus-test

#290 feat : install default required deps for nixopus through cli
  cli/app/commands/install/__init__.py
  cli/app/commands/install/command.py
  cli/app/commands/install/deps.py
  cli/app/commands/install/messages.py
  cli/app/commands/install/tests/__init__.py
  cli/app/utils/config.py
  helpers/config.prod.yaml
Labels: nixopus-test

#295 feat : verbose mode for clone command
  cli/app/commands/clone/clone.py
  cli/app/commands/clone/command.py
  cli/app/commands/clone/messages.py
  cli/app/commands/clone/tests/test_clone.py
  cli/app/commands/conf/base.py
  cli/app/commands/conf/command.py
  cli/app/commands/conf/delete.py
  cli/app/commands/conf/list.py
  cli/app/commands/conf/messages.py
  cli/app/commands/conf/set.py
  cli/app/commands/install/messages.py
  cli/app/commands/preflight/command.py
  cli/app/commands/preflight/deps.py
  cli/app/commands/preflight/messages.py
  cli/app/commands/preflight/port.py
  cli/app/utils/lib.py
Labels: nixopus-test
