Repository raghavyuva/nixopus, pull requests merged in 2025-08, with the labels that each got.

#300 fix: cli performance issue and startup speed improvement
  cli/app/main.py
  cli/build.sh
  cli/perf_check.sh
Labels: cli

#312 chores: fixing CSS inconsistencies across pages | modifying CSS view
  api/api/versions.json
  view/app/containers/page.tsx
  view/app/dashboard/components/containers/container-table.tsx
  view/app/file-manager/components/file-list/FileItem.tsx
  view/app/file-manager/components/layout/Header.tsx
  view/app/settings/domains/components/domain-type-tag.tsx
  view/app/settings/domains/page.tsx
  view/app/settings/teams/components/TeamMembers.tsx
  view/components/layout/dashboard-page-header.tsx
  view/components/ui/typography.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
Labels: nixopus-view, nixopus-api

#317 feat: add installation script for Nixopus CLI & self-hosting support
  .github/workflows/build-and-package-cli.yml
  .github/workflows/release-cli.yml
  package.json
  scripts/install-cli.sh
  scripts/install.sh
  scripts/setup.sh
Labels: nixopus-ci, nixopus-view

#314 fix: login fails with ip address deployment
  view/lib/auth.ts
Labels: nixopus-view

#305 feat: dynamic theme switcher palette
  api/api/versions.json
  view/app/containers/page.tsx
  view/app/dashboard/components/containers/container-table.tsx
  view/app/dashboard/components/smtp-banner.tsx
  view/app/dashboard/components/system/disk-usage.tsx
  view/app/dashboard/components/system/load-average.tsx
  view/app/dashboard/components/system/memory-usage.tsx
  view/app/dashboard/components/system/system-info.tsx
  view/app/dashboard/components/utils/get-status-color.ts
  view/app/dashboard/page.tsx
  view/app/file-manager/components/file-list/FileItem.tsx
  view/app/file-manager/components/layout/Header.tsx
  view/app/globals.css
  view/app/layout.tsx
  view/app/settings/domains/components/domain-type-tag.tsx
  view/app/settings/domains/page.tsx
  view/app/settings/general/components/AccountSection.tsx
  view/app/settings/general/components/AvatarSection.tsx
  view/app/settings/general/components/FeatureFlagsSettings.tsx
  view/app/settings/general/components/SecuritySection.tsx
  view/app/settings/general/components/TwoFactorSetup.tsx
  view/app/settings/notifications/components/channelTab.tsx
  view/app/settings/notifications/components/preference.tsx
  view/app/settings/notifications/page.tsx
  view/app/settings/teams/components/RecentActivity.tsx
  view/app/settings/teams/components/TeamMembers.tsx
  view/app/settings/teams/components/TeamStats.tsx
  view/app/settings/teams/page.tsx
  view/components/colors.ts
  view/components/features/keyboard-shortcuts.tsx
  view/components/layout/dashboard-layout.tsx
  view/components/layout/dashboard-page-header.tsx
  view/components/ui/command.tsx
  view/components/ui/theme-toggler.tsx
  view/components/ui/typography.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/package.json
  view/yarn.lock
Labels: nixopus-view, nixopus-api

#302 feat: test cli release workflow
  .github/workflows/release-cli.yml
  package.json
  scripts/install-cli.sh
  scripts/install.sh
  scripts/setup.sh
Labels: nixopus-ci, nixopus-view

#316 chore: cleanup of unused files
  .github/workflows/dev-env-setup.yml
  .github/workflows/greetings.yaml
  .github/workflows/qemu.yml
  assets/cover.png
  assets/nixopus_logo_bottom_text.png
  assets/nixopus_logo_side_text.png
  assets/nixopus_logo_violet_variant.png
  helpers/config.json
  installer/README.md
  installer/__init__.py
  installer/base_config.py
  installer/docker_setup.py
  installer/environment.py
  installer/input_parser.py
  installer/install.py
  installer/requirements.txt
  installer/service_config.py
  installer/service_manager.py
  installer/ssh_setup.py
  installer/update.py
  installer/validation.py
Labels: nixopus-documentation, nixopus-ci

#318 fix: branch-rule on release cli
  .github/workflows/release-cli.yml
Labels: nixopus-ci

#319 fix: remove label for PR creation
  .github/workflows/release-cli.yml
Labels: nixopus-ci

#323 chore: update installation documentation via cli
  README.md
  docs/cli/installation.md
  docs/index.md
  docs/install/index.md
Labels: nixopus-documentation

#320 release: fix release-cli.yml for cli release
  .github/workflows/release-cli.yml
Labels: nixopus-ci

#329 style: update deployment configuration ux to include collapsible section
  view/app/self-host/components/application-details/configuration.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
Labels: nixopus-view

#331 fix(ci): fix PyInstaller build and run PR builds
  .github/workflows/release-cli.yml
  cli/build.sh
Labels: nixopus-ci

#345 fix: fix VitePress build by modifying copy button to avoid invalid attribute quoting
  docs/index.md
Labels: nixopus-documentation

#307 chore : conflict command docs
  docs/.vitepress/config.mts
  docs/cli/cli-reference.md
  docs/cli/commands/conflict.md
  docs/cli/index.md
Labels: nixopus-documentation

#360 revert: auto update feature from dashboard
  api/api/versions.json
  view/app/settings/general/components/AccountSection.tsx
  view/app/settings/general/page.tsx
  view/components/layout/dashboard-layout.tsx
Labels: nixopus-view, nixopus-api

#361 v0.1.0-alpha.16
  README.md
  api/api/versions.json
  api/doc/openapi.json
  api/internal/features/audit/controller/init.go
  api/internal/features/audit/service/init.go
  api/internal/middleware/audit.go
  api/internal/routes.go
  api/internal/types/audit.go
  api/migrations/audit/022_add_additional_resource_types_up.sql
  view/app/activities/page.tsx
  view/app/containers/components/actions.tsx
  view/app/containers/components/card.tsx
  view/app/containers/components/info.tsx
  view/app/containers/components/table.tsx
  view/app/containers/page.tsx
  view/app/settings/domains/components/domainsTable.tsx
  view/app/settings/domains/page.tsx
  view/app/settings/general/components/AccountSection.tsx
  view/app/settings/general/page.tsx
  view/app/settings/teams/components/RecentActivity.tsx
  view/components/layout/dashboard-layout.tsx
  view/lib/i18n/locales/en.json
  view/lib/i18n/locales/es.json
  view/lib/i18n/locales/fr.json
  view/lib/i18n/locales/kn.json
  view/redux/services/audit.ts
  view/redux/types/audit.ts
Labels: nixopus-documentation, nixopus-view, nixopus-api

#362 fix: align conflict config resolution with install CMD, update tests, bump to 0.1.2
  cli/app/commands/conflict/command.py
  cli/app/commands/conflict/conflict.py
  cli/app/commands/conflict/models.py
  cli/pyproject.toml
  cli/tests/commands/clone/test_clone.py
Labels: nixopus-test

#364 chore: proper log for failure in ssh connect
  api/api/versions.json
  api/internal/features/servers/controller/error_helpers.go
  api/internal/features/servers/service/create_server.go
Labels: nixopus-api
